body{
    margin: 0;
    padding: 0;
    font-family: Chap,Arial,sans-serif;
    color: #474646 ;
    background: #E8E6E6;
    height: 2000px;
    display: flex;
    flex-direction: column;
}

/* top nav */

.topnav{
    height: 20px;
    display: flex;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 11px;
    margin-top: 40px;
    margin-left: 60px;
}
li{
    list-style: none;
    text-align: center;
    line-height: 20px;
    display: flex;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #A7A5A5;
    letter-spacing: 4px;

}
a{
    text-decoration: none;
    color: #474646;
}

a:hover {
    color:coral;
}
.noborder{
    border:none;
}
.newyork{
    font-family: 'Ballet', cursive;
    font-family: 'Style Script', cursive;
    font-size: 24px;
    padding: 20px;
}
.navend{
    font-weight: 900;
    padding: 0;
}
.underline{
    text-decoration: underline;
}


/* Second Nav */

.secondnav{
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 60px;
}


.h1{
    display: flex;
    width: 300px;
    height: 180px;
    font-family: 'Amiri', serif;
    margin-left: 125px;

}
.the{
    font-size: 22px;
    text-decoration: underline;
    letter-spacing: 5px;
    font-weight: 600;
    text-align: center;
    margin-top: 90px;
}
.cut{
    font-size: 100px;
    letter-spacing: 8px;
    margin-top: 30px;
    padding-left: 20px;
}
.seconddiv{
    display: flex;
    position: relative;
    left: 250px;
    
}
.text{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    
}

/* Main Section */

.mainone{
    width: 90%;
    height: 600px;
    margin-top: 40px;
    display: flex;
    position: absolute;
    left: 5%;
    border-bottom: 10px solid black;
}

.img1{
    width: 600px;
    position: relative;
    left: 150px;
}
.titel{
    width: 350px;
    height: 200px;
    background: #fff;
    position: relative;
    bottom: 220px;
    left: 120px;
    text-align: center;
}

.bold{
    font-weight: 800;
}
.titel p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 26px;
    font-size: 20px;
}

.littelTitel{
    font-size: 11px;
}
h4{
    padding: 10px;
}
.oneone{
    width: 25%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px 80px 80px 80px 80px;
    border-top: 3px solid #A7A5A5;
    position: relative;
    left: 200px;
}
time{
    color: red;
}
.more{
    letter-spacing: 2px;
    padding-top: 40px;
    font-size: 20px;
    line-height: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 80px;
}

.mainone>.oneone>div>p {
    font-size: 20px;
    line-height: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main two section */

 .maintwo{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 950px;
    left: 5%;
}
.author{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
}
.crimi,
.autor{
    width: 150px;
    height: 20px;;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    
}
.crimi{
    border-right: 1px solid gray;
    width: 80px;
    font-weight: 700;
}

.petito{
    display: flex;
    flex-direction: column;
    font-family: 'Style Script', cursive;
    text-align: center;
    font-size: 4rem;
}
.gabi{
font-weight: 600;
}

iframe{
    position: relative;
   
    border: 4px ridge #8E8C8C;
    border-radius: 6px;
}

/* Footer */

footer{
    position: relative;
    width: 90%;
    height: 150px;
    top: 1550px;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 10px solid black;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

} 
 .icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    padding: 20px;
}
.icon:hover{
    background: #A0F6C2
}

.copyright{
    margin-bottom: 30px;
    transform: translateX(30%);
}
