body{
    background-color: #F0E5CF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    flex-direction: row; 
    align-content: center;
    justify-content: center;
  

}
.navflex{
    display: flex;
    justify-content: center;
    width: 70px; 
    height: 20px; 
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    border-right: 2px solid #d6d4d2;

   
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1,8rem;
    color:#4B6587;
    text-decoration: none;
    
}
.four{
    border: none; 
}
.boxaria {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.first,
.second,
.third {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 6px;
    background-color: #C8C6C6;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: #585858;
}
.bild{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #ddd;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 6px;
   
}
h2,
h1{
    color: #424242;
}
h1{
    text-align: center;
    margin: 40px;
    line-height: 60px;
}

p{
    line-height: 30px;
}

.name{
    height: 50px;
    text-align: center;
    background-color: #C8C6C6;
    padding-top: 30px;
    color: #4B6587;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin-top: 30px;
}